*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}
.navi{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 5px rgb(181, 179, 179);
    
}
.Home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 5%;
    padding: 25px 20px;
    margin: 0px auto;
    /* position: fixed;
    z-index: 1000;
    left: 80px; */
    margin-bottom: -20px;
}
.logo{
    font-size: 23px;
    color: rgb(252, 58, 91);
}
.logo span{
    
    color: white;
    text-shadow: 1px 1px 3px black;
    background-color: #5e9ee3;
    /* border: 1px solid black; */
    border-radius: 30px;
    padding: 2px 8px;

}
.Home nav{
    margin-left: -130px;
}
.Home>nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    list-style: none;
    font-size: 16px;
}
section nav ul:first-child>li:first-child>a{
    text-decoration: none;
    color: rgb(120, 119, 119);
    font-weight: bold;
    color:#000
}
section nav ul:first-child>li:last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    width: 340px;
    padding: 0px 6px ;
    border: 1px solid rgba(132, 125, 125, 0.484);
    border-radius: 19px;
}
section nav li input{
    width: 300px;
    padding: 3px;
    border: none;
    outline: none;
}
section nav li i{
    border-radius: 50%;
    color: rgb(250, 244, 245);
    background: rgb(252, 58, 91);
    padding: 6px 8px;
}
section nav ul:last-child>li:last-child>a:hover{
    color: black;
    border-bottom:1px solid #0e0e0e;
   
    
}
.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.user p{
    font-size: 16px;
}
.user i{
    font-size: 22px;
}
.Home2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 15%;
    padding: 0px 20px;   
    margin: 0px auto;
    /* position: fixed;
    z-index: 1000;
    left: 80px; */
    position: relative;
    z-index: 1000;
}
.Home2 nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    border: 1px solid rgba(194, 192, 192, 0.782);
    border-radius: 40px;
    width: 65%;
    box-shadow: 0px 2px 4px rgb(95, 94, 94);
}
.Home2 nav .ls{
    list-style: none;
    /* border: 1px solid rgb(248, 242, 242); */
    border-radius: 40px;
    width: 25%;
    padding: 25px 15px;
    text-align: center;
    transition: 0.3s linear;
    
}
.Home2 nav .ls:hover{
   
background-color:  rgba(197, 194, 194, 0.586);
   
    
}
.Home2 nav .ls >li>a{
    text-decoration: none;
    list-style: none;
    color: black;
}
.s-line{
    height: 50px;
    border-left: 1px solid  rgba(197, 194, 194, 0.742);
}
.line{
    width: 100%;
   
    margin-top: 10px;
    
   
}
.container{
    width: 100%;
    margin-top: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container .left{
    width: 15%;
    height: 79vh;
    position: fixed;
    left: 0;
    top: 21%;
    background-color:rgb(252, 252, 252);;
    display:flex;
  
    z-index: 1000;
    box-shadow: 2px 0px 10px rgb(239, 236, 236);
}
.left .nav{
    display: flex;
   justify-content: space-around;
    text-align: center;
    flex-direction: column;
    
}
.left .nav li {
    list-style: none;
    padding: 0 10px;
}
.left .nav li a{
    text-decoration: none;
    color: rgb(99, 96, 96);
    transition: 0.3s linear;
}
.left .nav li a:hover{
    color: rgb(252, 58, 91);
    border-bottom: 1px solid rgb(252, 58, 91);
    
}
.container .right{
    width: 85%;
  position: absolute;
  right: 0;
 top: 0;
   /* height: 79vh; */
   padding: 20px;
   background-color: white;
}
.right{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.right .con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 99%;
    height: 68vh;
    border: 1px solid rgba(209, 206, 206, 0.773);
    border-radius: 20px;
}
.con .img{
    width: 98%;
    height: 60%;
    border-radius: 20px;
    overflow: hidden;
}
.img img{
    border-radius: 20px;
    width: 100%;
    height: auto;
    transition: 0.2s linear;
}
.img img:hover{
    scale: 1.08;
}
.con .content{
    display: flex;
    gap: 10%;
    width: 98%;
    height: 30%;
    margin: 20px 0;
    padding: 5px 0;
    border-top: 1px solid rgba(209, 206, 206, 0.773);
   
}
.content .art11{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 75%;
}
.content .art11 p:first-child{
    font-weight: bold;
}

.content .art11 span{
    color: rgb(164, 161, 161);
}
.con .btn{
    width: 98%;
    height: 7%;
}
.con .btn a{
    text-decoration: none;
    color: white;
    width: 40%;
    background-color: rgb(252, 58, 91);
    border-radius: 10px;
    padding: 5px;
    margin-left: 100px;
    transition: 0.3s linear;
}
.con .btn a:hover{
    background-color: rgb(187, 8, 38);
}
.content .art12 span{
    font-size: 13px;
}


::-webkit-scrollbar{
    width: 13px;
}

::-webkit-scrollbar-track{
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
    background:  rgb(252, 58, 91);
    border-radius: 15px;
}
